<div class="container mt-3" *ngIf="ordersList">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Orders List</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link pointer" (click)="filterByDate()" aria-current="page">Filter by Date</a>
          </li>
          <li class="nav-item">
            <a (click)="filterByAmount()" class="nav-link pointer">Filter by Amount</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">ID</th>
        <th scope="col">Billing Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Order Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ordersList">
        <td>{{ order.date | date: "MMM d, h:mm" }}</td>
        <td>{{ order.id }}</td>
        <td>{{ order.billing_name }}</td>
        <td>{{ order.amount | currency }}</td>
        <td>
          <span class="badge" [ngClass]="getClass(order.order_status)">{{
            order.order_status
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="getMoreOrders()" class="btn btn-primary offset-10">
    Get More Orders
  </button>
</div>
